/* General */

.game-content {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 120px 1fr 120px;
    height: 100%;
    width: 100%;
    font-family: 'Lato';
    background: linear-gradient(to right, lightgrey 50%, white 50%);
}
.title-wrapper {
    grid-row: 1;
    grid-column: 2/5;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.new-game {
    margin: 0;
    cursor: pointer;
}
.new-game-icon {
    color: red;
}

.player1 {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.player2 {
    grid-row: 2;
    grid-column: 4;
    display: flex;
    flex-direction: column;
}
.game-controls {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

/*Section player1 */

.current-score-wrapper {
    display: flex;
    flex-direction: column;
    width: 130px;
    background: red;
}
.total-score-wrapper {
    display: flex;
    flex-direction: column;
}

/* Section player2 */

/*Section game-controls */
.dice {
    width: 120px;
    height: 120px;
    margin-top: 70px;
    background: red;
}
.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 45px;
}
.roll-wrapper {
    display: flex;
    flex-direction: row;
}
.hold-wrapper {
    display: flex;
    flex-direction: row;
}
.roll-wrapper > i,
.hold-wrapper > i {
    color: red;
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 1s ease-in-out;
}
.roll {
    cursor: pointer;
}
.hold {
    cursor: pointer;
}

/* Active player */

.active-player {
    font-weight: bold;
    position: relative;
}
.active-player::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: red;
    right: -30px;
    top: 6px;
    position: absolute;
}
