/* General */
:root {
    --primary-color: #ffffff;
    --secondary-color: #e74c3c;
    --player-size: 2em;
    --score-title-size: 1.3em;
    --round-score-size: 1.5em;
    --global-score-size: 2.5em;
    --page-title-size: 2.5em;
}
body {
    max-height: none;
    height: auto;
    overflow: auto;
    position: static;
}
.game-content {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 120px 1fr 120px;
    width: 100%;
    height: 100vh;
    font-family: 'Lato';
    position: relative;
    background: linear-gradient(to right, #f0f0f0 50%, white 50%);
}
.title-wrapper {
    grid-row: 1;
    grid-column: 2/5;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    background: none;
    outline: none;
}
.new-game {
    margin: 0;
    cursor: pointer;
    font-size: var(--page-title-size);
}
.new-game-icon {
    color: var(--secondary-color);
}

.player1 {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.player2 {
    grid-row: 2;
    grid-column: 4;
    display: flex;
    flex-direction: column;
}
.game-controls {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

/*Section player */

.current-score-wrapper {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 100px;
    background: var(--secondary-color);
    position: relative;
}
.current-score-wrapper > h5 {
    margin: 0;
    font-size: var(--score-title-size);
}
.current-score-wrapper > span {
    font-size: var(--score-size);
    color: var(--primary-color);
}
.total-score-wrapper {
    display: flex;
    flex-direction: column;
}
.total-score-wrapper > h3 {
    font-size: var(--player-size);
}
.total-score-wrapper > span {
    font-size: var(--global-score-size);
    color: var(--secondary-color);
}

/*Section game-controls */
.dice {
    width: 120px;
    height: 120px;
    margin-top: 70px;
    background: var(--primary-color);
    border-radius: 3px;
    box-shadow: 1px 4px 26px 5px rgba(0, 0, 0, 0.19);
    transform-origin: center;
}
.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 45px;
}
.roll-wrapper {
    display: flex;
    flex-direction: row;
    background: none;
    font-size: var(--score-title-size);
    outline: none;
}
.hold-wrapper {
    display: flex;
    flex-direction: row;
    background: none;
    font-size: var(--score-title-size);
    outline: none;
}
.roll-wrapper > i,
.hold-wrapper > i {
    color: var(--secondary-color);
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 1s ease-in-out;
}
.roll {
    cursor: pointer;
}
.hold {
    cursor: pointer;
}

/*Section Winner */
.winner-wrapper {
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    transition: all 2s ease-in-out;
}
.winner-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    align-items: center;
    color: var(--secondary-color);
    font-family: 'Press Start 2P';
}
.winner-player {
    font-weight: bold;
    font-size: var(--player-size);
}
.you-win {
    font-size: 3.5em;
    animation: youWin 2s ease-in-out infinite;
}
.replay-button {
    background: none;
    color: var(--secondary-color);
    font-size: var(--player-size);
    border: 2px solid #e74c3c;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
}
.replay-button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* Active player */

.active-player {
    font-weight: bold;
    position: relative;
}
.active-player::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--secondary-color);
    right: -30px;
    top: 6px;
    position: absolute;
}

/*Dice fetaure*/
.one {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.two {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.three {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.four {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.five {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.six {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.seven {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

/* Animations*/

@keyframes diceRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.dice-rotation {
    animation: 2s diceRotation ease-in-out;
}

@keyframes youWin {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Media querys responsive */

@media screen and (max-width: 870px) {
    .game-content {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 100px 1fr 1fr 1fr 100px;
        gap: 20px;
        height: 100%;
    }
    .title-wrapper {
        grid-row: 1;
        grid-column: 2;
    }
    .dice {
        margin-top: 50px;
    }
    .player1 {
        grid-row: 2;
        grid-column: 2;
        height: 50vh;
    }
    .game-controls {
        grid-row: 3;
        grid-column: 2;
        height: 50vh;
    }
    .player2 {
        grid-row: 4;
        grid-column: 2;
        height: 50vh;
    }
}
